/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot?1645923704429');
	src: url('../fonts/iconfont.eot?#iefix-1645923704429') format('embedded-opentype'),
		url('../fonts/iconfont.woff2?1645923704429') format('woff2'),
		url('../fonts/iconfont.woff?1645923704429') format('woff'),
		url('../fonts/iconfont.ttf?1645923704429') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']::before,
[class*=' icon-']::before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-closex::before {
	content: '\ea01';
}

.icon-dots-grid::before {
	content: '\ea02';
}

.icon-email::before {
	content: '\ea03';
}

.icon-facebook::before {
	content: '\ea04';
}

.icon-hamburger::before {
	content: '\ea05';
}

.icon-heart::before {
	content: '\ea06';
}

.icon-instagram::before {
	content: '\ea07';
}

.icon-magnify::before {
	content: '\ea08';
}

.icon-map-marker::before {
	content: '\ea09';
}

.icon-phone::before {
	content: '\ea0a';
}

.icon-twitter::before {
	content: '\ea0b';
}

.icon-v-plane::before {
	content: '\ea0c';
}