.about{
    display: block;
}

.about__container{
    @include flexDirWrap(row, nowrap);
    gap: 30px;
    justify-content:center;
    align-items: center;
    padding: 100px 0;
    @include breakpoint(touch){
        padding: 75px 0;
    }
}

.about__newsletter{
    padding: 50px;
    background-color: $orangeLight;
    @include flexDirWrap(column, nowrap);
    justify-content: space-between;
    align-items: center;
    min-height: 440px;
    width: 35%;
    border-radius: 25px;
    @include breakpoint(touch){
        width: 80%;
        padding: 20px;
    }
    @include breakpoint(phone){
        width: 95%;
    }
}

.about__headline{
 font-size: 55px;
 text-transform: uppercase;
 color: $white;
 line-height: 79px;
 @include breakpoint(phone){
     font-size: 45px;
 }
}

.about__newsletter-form {
    min-height: 200px;
    width: 100%;
    @include flexDirWrap(column, nowrap);
    gap: 10px;
    @include breakpoint(touch){
        gap: 20px;
    }
    
}

.about__input {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding-left: 25px;
    font-size: 15px;
    border: none;
    color: $white;
    background-color: rgba(255, 255, 255, 0.295);
    &::placeholder{
        padding-left: 5px;
        color: $white;
    }
    &:focus{
        outline: 2px solid $white;
    }
}

.about__newsletter-btn{
    height: 50px;
    background-color: $black;
    color: $white;
    border-radius: 25px;
    transition: $dur $ease;
    text-transform: uppercase;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(0.95)
    }
}

.about__us {
    width: 35%;
    height: 100%;
    min-height: 440px;
    padding: 50px;
    @include flexDirWrap(column, nowrap);
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 25px;
    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    @include breakpoint(touch){
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}

.about__title {
    font-family: Teko;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 79px;
    text-align: center;
    text-transform: uppercase;

}

.about__title--yellow{
    color: $darkerOrange;
}

.about__divider{
    width: 50px;
    height: 3px;
    background-color: $darkerOrange;
    margin: 5px auto 35px;
}

.about__paragraph {
    width: 45ch;
    text-align: center;
    line-height: 20px;
}

.about__us-form {
    margin-top: auto;
    width: 100%;
    position: relative;
}

.about__us-input {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding-left: 25px;
    font-size: 15px;
    border: none;
    color: $black;
    background-color: rgba(97, 97, 97, 0.295);
    &::placeholder{
        padding-left: 5px;
        color: $black;
    }
    &:focus{
        outline: 2px solid $white;
    }
}

.about__us-btn {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    &::before{
        content: '\ea0c';
        font-family: 'iconfont';
        transform: translateX(15%);
    }
}