.header{
    font-size: 14px;
    background-color: $black;
}

.header__nav{
  min-height: 100px;
  @include flexDirWrap(row, nowrap);
  justify-content: space-between;
  align-items: center;
  align-content: center;
  overflow: hidden;
  @include breakpoint(touch){
      justify-content: flex-end;
  }
}

.header-link__logo{
    @include flexDirWrap(row, nowrap);
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: $white;
    max-width: 305px;
    @include breakpoint(touch){
       justify-self: flex-start;
       margin-right: auto;
    }
}

.header-image__logo{
    width: 68px;
    height: 68px;
    display: inline-block;
}

.header-logo__text{
    display: inline-block;
    margin-left: 12px;
    text-transform: uppercase;
}

.header__menu{
    position: relative;
    @include flexDirWrap(row, nowrap);
    align-items: center;
    @include breakpoint(touch){
        overflow: none;
        flex-direction: column;
        position: fixed;
        top: 100px;
        right: 0;
        width: 100%;
        z-index: 100;
        background-color: $black;
        height: calc(100vh - 100px);
        justify-content:space-between;
        transform: translateX(100%);
        transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        padding: 50px 0;
        justify-content: flex-start;

    }
}

body{
    overflow-x: hidden;
}

.header__menu--active{
    @include breakpoint(touch){
            transform: translateX(0);
    }
}

.header__list{
   @include flexDirWrap(row, nowrap);
   display: inline-flex;
   justify-content: space-between;
   min-width: 378px;
   @include breakpoint(touch){
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       flex-grow: 2;
       padding: 15% 0;
   }
}

.header__item{
    display: inline-block;
    text-transform: uppercase;
    font-family: "Blinker", sans-serif;
    font-weight: $bold;
    letter-spacing: 1px;
}

.header__link{
    text-decoration: none;
    color: $white;
    padding: 10px;
    transition: $dur $ease;
    &:hover{
        color: $lightRed;
    }

}

.header__form{
    display: inline-flex;
    max-width: 400px;
    @include breakpoint(touch){
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}

.header-form__btn{
    color: $white;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    transition: $dur $ease;
    &:active {
        transform: scale(0.95)
    }
}

.header__input{
    flex-grow: 2;
    border-radius: 5px;
    border: none;
    width: 100%;
    max-width: 0;
    font-size: 16px;
    letter-spacing: 1px;
    transition: $dur $ease;
    opacity: 0;
    visibility: hidden;
    font-family: "Blinker", sans-serif;
    &::placeholder {
        padding-left: 5px;
    }
}

.header__input--active {
    visibility: visible;
    opacity: 1;
    max-width: 200px;
}

.header-btn__menu{
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $orangeLight;
    width: 167px;
    height: 50px;
    border-radius: 20px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: $medium;
    font-size: 16px;
    margin-left: 10px;
    transition: $dur $ease;
    &::before{
        font-size: 25px;
    }
    &:hover{
        transform: scale(1.05);
    }
    &:active {
        transform: scale(0.95)
    }
}


.header-mobile__form{
    max-width: 200px;
    visibility: hidden;
    opacity: 0;
    display: none;
    @include breakpoint(touch){
        visibility: visible;
        opacity: 1;
        width: 150px;
        position: relative;
        @include flexDirWrap(row, nowrap);
        flex-grow: 2;
    }
}



.header-mobile__button{
    color: $white;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    margin-left: auto;
}

.header-mobile__input{
    border-radius: 5px;
    border: none;
    width: 100%;
    max-width: 0;
    opacity:0;
    visibility: hidden;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all $dur $ease;
    font-family: "Blinker", sans-serif;
    &::placeholder {
        padding-left: 5px;
    }
}

.header-mobile__input--active {
    max-width: 200px;
    opacity: 1;
    visibility: visible;
    min-width:100px;
}

.header__hamburger{
    color: $white;
    font-size: 30px;
    padding: 5px;
    margin-left: 15px;
    transition: $dur $ease;
    &:active{
        transform: scale(0.95);
    }
}




.header__icons{
    @include flexCenter(row, nowrap);
    gap: 25px;
}

.header__big-icons {
    width: 48px;
    height: 48px;
    background-color: $darkerOrange;
    border-radius: 50%;
    color: $white;
    font-size: 20px;
    @include flexCenter(row, nowrap);
    transition: $dur $ease;
}

.header__social{
    padding: 44px 0 25px;
    @include flexCenter(row, nowrap);
    gap: 25px;
}

.header__small-icons {
    color: $white;
    transition: $dur $ease;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(0.95)
    }
    
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.animate{
    animation-name: spin;
    animation-duration:1s;
}




////// breakpoints dont touch

.mobile-only {
    visibility: hidden;
    opacity: 0;
    display: none;
    @include breakpoint(touch) {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
  
  .desktop-only{
    @include breakpoint(touch) {
      visibility: hidden;
      opacity: 0;
      display: none;
    }
  }